extends layouts/auth

append content_scripts
	script(src='/js/login.js')
	link(rel="stylesheet", href="/css/login.css")

block content_main
	form(method="post",action="/")
		.input-group
			input#email.form-control(type='email', name='email', placeholder='Email')
			span.input-group-addon
				i.glyphicon.glyphicon-user
		.input-group
			input#password.form-control(type='password', name='password', placeholder='Password')
			span.input-group-addon
				i.glyphicon.glyphicon-lock
		button#btnLogin.btn.btn-success(type='submit') Login
		button#btnSignUp.btn.btn-link(type='button') Don't have an account? Click here!