extends layouts/main

append content_scripts

block content_main
	include partials/sidebar
	#chatArea
		#bottom
			#attachments
			form.form-inline()
				.form-group
					textarea(id="message",name='message', style='width:1500px; height:100px;')
					br
					input(type='submit')
