extends layouts/auth

append content_scripts
	script(src='/js/signup.js')
	link(rel="stylesheet", href="/css/signup.css")

block content_navauth
	li
		a(href='/signup')
			span.glyphicon.glyphicon-user
			| Sign Up
	li
		a(href='/')
			span.glyphicon.glyphicon-log-in
			| Login

block content_main
	form(method="post",action="/signup")
		.form-group
			input#username.form-control(type='username', name='username', placeholder='Enter username')
		.form-group
			input#email.form-control(type='email',name='email', placeholder='Enter email')
		.form-group
			input#password.form-control(type='password',name='password', placeholder='Enter password')
		.form-group
			input#confirmPassword.form-control(type='password', name='confirmPassword' placeholder='Confirm password')
		button#btnSignUp.btn.btn-success(type='submit') Sign Up
		button#btnCancel.btn.btn-danger(type='button') Cancel

	