include partials/html
	include partials/head
	script(type='text/javascript', src='js/signup.js')

	.body
		.bottom-div
			nav.navbar.navbar-inverse
				.container-fluid
					.navbar-header
						a.navbar-brand(href='#') MyPeople
			.inner-center-div
				form
                    block form-content
    
    include partials/scripts