doctype html
html(lang="en")
	include partials/head.pug
	
	script(src='https://cdn.firebase.com/js/client/2.4.0/firebase.js')
	script(type='text/javascript', src='js/channel.js')

	body
		include partials/navbar.pug


		//- include content here
		#content
			#middle
				#Members.container-fluid
					h4#M MEMBERS
					ul#members.list-group
						li.list-group-item DIKACHI
						li.list-group-item MIRICAL
						li.list-group-item SHARMAN
						li
				#chatArea
					#bottom
						#attachments
							| TESTING TEXT.
							| &euro;94 million (&pound;80 million).
						form.form-inline(method="post",action="/channel")
							.form-group
								form(action='/action_page.php')
									textarea(id="message",name='message', style='width:1500px; height:100px;')
									br
									input(type='submit')

		include partials/scripts.pug
