extends layouts/main

block content_scripts
	link(type='text/css', rel="stylesheet" href="css/channel.css")
	script(type='text/javascript', src='js/channel.js')

block content_main
	include partials/sidebar
	#chatArea
		#bottom
			#attachments
			form.form-inline(method="post",action="/channel")
				.form-group
					textarea(id="message",name='message', style='width:1500px; height:100px;')
					br
					input(type='submit')
