doctype html
html(lang="en")
	include partials/head.pug

	body
		include partials/navbar.pug


		//- include content here
		#content
			#middle
			
				include partials/sidebar.pug

				#chatArea
					p Dikachi is quite awesome
					p
						| Cristiano Ronaldo dos Santos Aveiro GOIH, ComM (European Portuguese:
					#bottom
						#attachments
							| TESTING TEXT.
							| &euro;94 million (&pound;80 million).
						form.form-inline(action='/action_page.php')
							.form-group
								label(for='comment') Comment:
								textarea#comment.form-control(rows='5')
								button.btn.btn-default(type='button') SEND


		include partials/scripts.pug
