doctype html
html(lang="en")
	
	include partials/head

	.body
		.bottom-div
			nav.navbar.navbar-inverse
				.container-fluid
					.navbar-header
						a.navbar-brand(href='#') MyPeople
			.inner-center-div
		
	include partials/scripts