doctype html
html(lang="en")

	include partials/head
	script(type='text/javascript', src='js/signup.js')
	link(type='text/css', rel="stylesheet", href="css/signup.css")

	body
		.top-div
			nav.navbar.navbar-inverse
				.container-fluid
					.navbar-header
						a.navbar-brand(href='/') MyPeople
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/signup')
								span.glyphicon.glyphicon-user
								| Sign Up
						li
							a(href='/')
								span.glyphicon.glyphicon-log-in
								| Login
			p
				i MyPeople

		.inner-center-div
			p
				i Sign up to MyPeople
			form(method="post",action="/signup")
				.form-group
					input#username.form-control(type='username', name='username', placeholder='Enter username')
				.form-group
					input#email.form-control(type='email',name='email', placeholder='Enter email')
				.form-group
					input#password.form-control(type='password',name='password', placeholder='Enter password')
				.form-group
					input#confirmPassword.form-control(type='password', name='confirmPassword' placeholder='Confirm password')
				button#btnSignUp.btn.btn-success(type='submit') Sign Up
				button#btnCancel.btn.btn-danger(type='button') Cancel

	include partials/scripts