doctype html
html(lang="en")
	include partials/head
	script(type='text/javascript', src='js/welcome.js')
	link(type='text/css', rel="stylesheet", href="css/welcome.css")

	body
		

	include partials/scripts