doctype html
html(lang="en")
	include partials/head
	script(type='text/javascript', src='js/welcome.js')
	link(type='text/css', rel="stylesheet", href="css/welcome.css")

	body
		.top-div
			nav.navbar.navbar-inverse
				.container-fluid
					.navbar-header
						a.navbar-brand(href='#') MyPeople
					ul.nav.navbar-nav.navbar-right
						li
							a(id='logout')
								span.glyphicon.glyphicon-log-out
								| Logout

			p
				i Welcome #{user}

		.inner-center-div
			p
				i Choose a workspace
			
			ul.list-group
				each listItem in groupList
					a(href='/group/' + listItem).list-group-item.list-group-item-action= listItem
			ul.list-group
				each listItem in channelList
					a(href='/channel/' + listItem).list-group-item.list-group-item-action= listItem

	include partials/scripts