//- includes/head.pug
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(type='text/css', rel="stylesheet", href="css/message.css")
    
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(src='https://www.gstatic.com/firebasejs/4.12.0/firebase.js')
    script(src='https://cdn.firebase.com/js/client/2.4.0/firebase.js')

    script(type='text/javascript', src='js/navbar.js')

    script(type='text/javascript', src='js/message.js')
    script(type='text/javascript', src='js/config.js')
    
    script(type='text/json', src='../../config/user_info.json')

    title= title
