nav.navbar.navbar-default
    ul.nav.navbar-nav
        each path, name in {"Groups":'/group', "Channels":"/channel","Messages":"/"}
            li.dropdown.col-xs-4.text-center
                a.dropdown-toggle(data-toggle=".dropdown-menu")= name
                span.caret
                    ul.dropdown-menu.col-xs-12
                        each listItem in ["coolGroup", "randgroup","tests"]
                            li
                                a(href=path).col-xs-12.text-center= listItem