nav.navbar.navbar-default
    ul.nav.navbar-nav
        each path, name in {"Groups":'/group', "Channels":"/channel","Messages":"/"}
            li.dropdown.col-xs-4.text-center
                a.dropdown-toggle(data-toggle=".dropdown-menu")= name
                span.caret
                    ul.dropdown-menu.col-xs-12
                        if name == "Groups"
                            if groupList !== undefined
                                each listItem in groupList
                                    li     
                                        a(href='/channel').col-xs-12.text-center.groupList= listItem
                        else if name == "Channels"
                            if channelList !== undefined
                                each listItem in channelList
                                    li     
                                        a(href=path).col-xs-12.text-center.channelList= listItem
                        else if name == "Messages"
                            if channelList !== undefined
                                each listItem in channelList
                                    li     
                                      a(href='/message').col-xs-12.text-center.channelList= listItem
