nav.navbar.navbar-default
    .container-fluid
        ul.nav.navbar-nav
            li.active.dropdown
                a.dropdown-toggle(data-toggle="dropdown" href="#")
                    | Groups
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="#")
                    li.divider(role="separator")
                    li
                        a(href="#")
                    li.divider(role="separator")
                    li
                        a(href="#")
            li.dropdown
                a.dropdown-toggle(data-toggle="dropdown" href="#")
                    | Channels
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="#")
                    li.divider(role="separator")
                    li
                        a(href="#")
                    li.divider(role="separator")
                    li
                        a(href="#")
            li.dropdown
                a.dropdown-toggle(data-toggle="dropdown" href="#")
                    | Messages
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="#")
                    li.divider(role="separator")
                    li
                        a(href="#")
                    li.divider(role="separator")
                    li
                        a(href="#")