#content{
  display: grid;
  grid-template-rows: auto auto;
}

#middle{
  /*column-count: 2;*/
  display: grid;
  grid-template-columns: 150px auto;
}

#Members{
  background-color: #333333;
}
#M{
  color: white;
}

#chatArea{
  display: grid;
  grid-template-rows: auto 450px;
}

#attachments{
  background-color: #b3b3b3
}
