nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            img(src="/images/mypeople.png" alt="My People Icon")
            a.navbar-brand(href='/')= title.split(' | ')[1]
        ul.nav.navbar-nav.navbar-right
            block content_navauth