nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/')= title.split(' | ')[1]
        ul.nav.navbar-nav.navbar-right
            block content_navauth