doctype html
html(lang="en")
	include ../partials/head

	link(rel="stylesheet" href="/css/auth.css")
	block content_scripts

	body
		.top-div
			include ../partials/navauth

			block content_extra

			p.text-center.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
				i= title.split(' | ')[1]
		.inner-center-div
			p
				i= message

			block content_main
		
		include ../partials/scripts

