html,
body {
    background-color: #33CCFF;
    height: 100%;
    width: 100%;
    margin: auto;
}

.top-div {
    background-color: black;
    height: 37%;
    width: inherit;
    margin: auto;
}

.inner-center-div {
    background-color: red;
    height: 27%;
    width: inherit;
    margin: auto;
}

.top-div p {
    color: aqua;
    font-size: 15vw;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.inner-center-div p {
    color: white;
    font-size: 200%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.navbar-inverse {
    background-color: black;
}

form {
    width: 40%;
    margin: 2em auto;
}

.input-group {
    margin: 1em auto;
}

.btn-success {
    margin: 1em auto;
    width: 100%;
}

.btn-link {
    width: 100%;
}