body {
    background-color: #141452;
}

.inner-center-div {
    background-color: #33CCFF;
    height: 270px;
    margin: 150px;
}

.bottom-div {
    background-color: black;
    height: 350px;
}

.input-group {
    min-width: 20em;
    margin: 1em 2em;
}

form {
    padding-top: 65px;
}

.btn-success {
    width: 10em;
    margin: 1em 2em;
}

.btn-link {
    color: black;
    width: 5em;
    margin: 1em 2em;
}