a {
    color: #00B7FF;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav {
    float: none;
    background-color: black;
    color: white;
}

.navbar-nav li .dropdown-toggle {
    width: 10em;
    margin-right: auto;
    margin-left: auto;
    background-color: #000;
    border: 2px #FFF solid;
    border-radius: 10px;
    margin-top: 1em;
}

ul.dropdown-menu {
    margin: -0.1em;
}

#middle {
    /*column-count: 2;*/
    display: grid;
    grid-template-columns: 150px auto;
}

#Members {
    background-color: #333333;
}

#M {
    color: white;
}

#chatArea {
    background-color: #7FFFD4;
    height: 500px;
    weight: 1000px;
    overflow: auto;
}

#attachments {
    background-color: #b3b3b3
}

#message {
    width: 500px;
}

#bottom {
    position: fixed;
    bottom: 0;
}