body {
    background-color: #141452;
}

.inner-center-div {
    background-color: #33CCFF;
    height: 270px;
    margin: 360px auto;
    overflow: auto;
}

.bottom-div {
    background-color: black;
    height: 560px;
}

form {
	padding-top: 13px;
    width: 50%;
    margin: 1em auto;
}

.btn-success {
	width: 50%;
	margin: 0 auto;
}

.btn-danger {
	width: 50%;
	margin: 0 auto;
}