html,
body {
    background-color: #33CCFF;
    height: 100%;
    width: 100%;
    min-width: 40em;
}

h3#welcomeMsg {
    position: absolute;
    top: 0;
    font-size: 30pt;
    font-family: 'Lobster', cursive;
    color: #FFF;
}

h3 {
    font-family: 'Lobster', cursive;
    color: #000;
}

a.list-group-select,
a.list-group-item:hover {
    background-color: rgba(20, 85, 0);
    color: #FFFFFF;
}

ul.list-group {
    border: 2px solid black;
    margin: 0 5em;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 14pt;
}