html,
body {
    background-color: #33CCFF;
    height: 100%;
    width: 100%;
    min-width: 40em;
}

h3#welcomeMsg {
    position: absolute;
    top: 0;
    font-size: 30pt;
    font-family: 'Lobster', cursive;
    color: #FFF;
}

h3 {
    font-family: 'Lobster', cursive;
    color: #000;
}